{% trans_default_domain 'FOSUserBundle' %}

<div class="fos_user_user_show ">
    <h3>Twój profil:</h3><br>
    <table class="table details">
        <tr>
            <th>{{ 'profile.show.username'|trans }}:</th>
            <td>{{ user.username }}</td>
        </tr>
        <tr>
            <th>{{ 'profile.show.email'|trans }}:</th>
            <td>{{ user.email }}</td>
        </tr>
    </table>
</div>
