{% extends '@App/base.html.twig' %}

{% block body %}

    <div class="container">
        <h1>Zaplanuj swój budżet!</h1>
        <form class="form-group" action="" method="POST">
            <label for="">Wybierz rok:
                <input class="form-control" name="year" type="number" min="2018" max="2037" step="1" value="{{year}}" />
                <input class="btn btn-primary" type="submit" value="Wybierz">
            </label>
        </form>
    </div>
{% endblock %}