{% extends '@App/base.html.twig' %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1>Zaplanuj swój budżet!</h1><br>
                <form class="form-group" action="" method="POST">
                    <label for="">Wybierz rok:
                        <input class="form-control" name="year" type="number" min="2018" max="2037" step="1" value="{{year}}" />
                    </label><br><br>
                    <input class="btn btn-default" type="submit" value="Przejdź dalej">
                </form>
            </div>
        </div>
    </div>
{% endblock %}