{% extends '@App/base.html.twig' %}
{% block stylesheets %}

{% endblock %}


{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="text-center">Zestawienie Dla Miesiąca {{ month | capitalize }}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 text-center">
                <a class="btn btn-primary" href="">Dodaj Pozycję</a>
                <a class="btn btn-info" href="">Dodaj Kategorię</a>
            </div>
        </div>
    </div>
{% endblock %}



