
body::after {
    content: "";
    background: url("img/lightpaperfibers.png");
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1
}
.month-item a {
    display:block;
    padding: 30px;
    margin:0 auto;
    text-align: center;
    text-decoration: none;
    color: #939393;
    font-size: 3rem;
}

.month-item a:hover {
    background-color:#e5e5e5;
    color:#737373;
    text-decoration: none;
}

table.main td{
    width: 50px;
}


.make_hidden {
    display: none;
}

.hiddenDetails{
    display: none;
    color: grey;
}

table.details td,th{
    width: 50px;
}

.fa-pie-chart:hover {
    border-bottom: 1px solid blue;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

